/* CSS de PIZZA */
/* CSS de PIZZA */
/* CSS de PIZZA */

*{
    /* font-size: 13px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.divFondoDatos_del_cliente{
    background-color: #55ccff;
}
.divFondoDatos_del_pedido{
    background-color: #40ccbb;
}

.divElementosInLineBlock {
    display: inline-block;
    margin-left: 10px;
    }
.divTodosBlock {
        display:block;
        margin: 10px;
    }

*div{
        display:block;
        margin: 10px;
    }

.divLogo{
    background-image: url(../images/Logo.png);
    width: 456px;
    height:181px;
    display:inline-block;
    }

.divNombrePagina{
    text-align: center;
    display:inline-block;
    font-size: 30px;
    background-color: rgba(0, 255, 255, 0.164);
    color: rgb(0, 0, 0);
    font-style: oblique;
    }


/* CSS de JS */
/* CSS de JS */
/* CSS de JS */

.estilo {
    font-style: normal;
    color: rgb(0, 92, 0) ;
}

/* De tipo tag */
#amarillo{
    color: yellow;
}

.div1 {
background-color: orange;
color: blue;
margin-top: 10px;
padding: 10px;
border-width: 10px;
border-style: solid;
width: 50px;
height: 10px;
display: inline-block;
}
.div2 {
    background-image: url(../images/logo.svg);
    /* background-repeat: no-repeat; */
    width: 149px;
    height: 28px;
    display:inline-block;
}

*{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}
#alertas {
    font-style:italic;
    font-size: 30px;
    color:red;
}

